.styleMsg {
    position: fixed;
    background: #333333;
    box-shadow: 0 0 10px 5px rgba(37, 20, 57, 0.5);
    transition: 1s;
    border-radius: 8px;
    z-index: 10000;
    box-sizing: border-box;
    padding: 10px;
    cursor: default;
}

.errDiv { 
    padding-top: 10px;
    bottom: 40px;
    left: 22%;
    width: 300px;
    height: 100px;
}

.errDiv, .alertDiv h3 {
    color: rgb(211, 89, 89) !important;
    font-size: 18px;
}
.styleMsg > p {
    color: #ffffff !important;
    font-size: 16px;
    margin-top: 10px !important;
}

.alertDiv {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 130px;
}

.choice {
    position: relative;
    border-width:2px !important;
    width: 80px;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
    margin: 20px;
}

.choice:hover {
    transition: 0.5s;
    color: #6328B8;
}

.yep {
    float: left;
}

.no {
    float: right;
}