.intervalPanel {
    display: flex;
    flex-flow: column;
    height: 70vh;
}

#musicInterval {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

#musicInterval > div {
    position: absolute;
    height: 100%;
}

.controlPanel {
    display: flex;
    justify-content: space-between;
}

.controlPanel button {
    margin: 20px 0;
    width: 10vh;
    height: 10vh;
    box-sizing: border-box;
    padding-top: 8px;
}

.controlPanel button:active .play{
    transition: 0.5s;
    fill: #241337;
}

.active .play{
    transition: 0.5s;
    fill: #241337;
}

.active {
    border-color: #241337 !important;
    color: #241337 !important;
}

.controlPanel > .generator {
    padding: 0;
    flex-basis: 30%;
    font-size: 24px;
}

.controlPanel > div {
    display: flex;
    justify-content: space-between;
    width: 22vh;
}

.mark {
    position: absolute;
    top: -25px;
    z-index: 10000;
    width: 40px;
    left: 100px;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mark > div {
    height: 100%;
    width: 1;
    background: #fff;
    border: 1px solid #fff;
}

.forMark {
    position: relative;
}