/* #7e3fcb
#6328b8
#4d1988
#241337 */

html {
    overflow: hidden;
    background-color: #282828;
    font-family: 'Space Mono', monospace;
}

.container {
    width: 70%;
    margin: 50px auto;
    position: relative;
}

.animation1:hover {
    box-shadow: 0px 0px 18px 10px #241337;
}

.animation1:active {
    border-color: #241337;
    color: #241337;
}

.border {
    border: 4px solid #6328B8;
    border-radius: 8px;
}

.submitBth {
    background-color: #282828;
    outline: none;
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 20px;
    letter-spacing: 4px;
    transition: 1s;
}

.submitBth:disabled {
    border-color: #241337;
    color: #adadad;
}

.submitBth:disabled:hover {
    box-shadow: none;
}

@media screen and (max-width: 1500px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 80%;
    }
    
    .glow {
        display: none;
        opacity: 0;
    }

    html {
        overflow: auto;
        max-width: 992px;
    }
}
  
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    html {
        overflow: auto;
        max-width: 600px;
    }
}