header {
    width: 100%;
    height: 65px;
    background: transparent;
    text-align: center;
}

.logo {
    height: 60px;
}

footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8d8d8d;
    position: absolute;
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}

.childFoo {
    width: 150px;
    text-align: center;
    margin: 0 50px;
    height: 16px;
}

.childFoo > a {
    outline: none;
    text-decoration: none;
    color: #8d8d8d;
    margin-left: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.childFooName {height: 24px;}

.name {
    color: #fff;
    font-size: 24px;
}

@media screen and (max-width: 992px) {
   footer {
        position: relative;
        flex-flow: column;
        height:  120px;
   }

   .childFoo {
       margin: 10px 0;
       width: 130px;
   }
   
   .childFooName {
       order: 1;
   }
}
  
@media screen and (max-width: 600px) {
    
}