.errDiv {
    position: fixed;
    transition: 1s;
    bottom: 40px;
    left: 22%;
    width: 300px;
    height: 100px;
    background: #333333;
    box-shadow: 0px 0px 10px 5px rgba(37, 20, 57, 0.5);
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    z-index: 10000;
    box-sizing: border-box;
    padding: 10px;
    cursor: default;
}

.errDiv > h3 {
    color: rgb(211, 89, 89);
    font-size: 20px;
    margin-bottom: 4px;
}